@import "src/style/helper";

%legend {
  height: px(40);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: px(10);

  > span {
    display: inline-block;
    width: px(16);
    height: px(10);
    border-radius: px(2);
    margin: 0 px(10);
  }
}

.home {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #010310;
  color: white;

  > header {
    height: px(99);
    background-size: cover;
  }

  > footer {
    height: px(68);
    border: 1px solid #0d2d59;
    margin: px(20) 0 1px;
    border-radius: 4px;
    background: #0c0d2b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #375DAF;
  }

  > main {
    padding: px(30) px(20) 0 px(20);
    flex: 1;
    display: grid;
    grid-template:
      "box1 box4 box5" 1fr
      "box2 box4 box6" 1fr
      "box3 box4 box7" 1fr /1fr 1.5fr 1fr;
    grid-column-gap: px(28);
    grid-row-gap: px(28);

    > section {
      text-align: center;

      h2 {
        flex-shrink: 0;
        border: 1px solid #0a5299;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: px(22);
        line-height: px(24);
        padding: px(10) px(28);
        text-shadow: 0 0 px(3) white;
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;


        .chart {
          flex: 1;
          width: 100%;
        }
      }
    }

    .bordered {
      border: 1px solid #0764bc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #0f3361, inset 0 0 2px 0 #0f3361;
      background: #0f113a;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border-radius: 4px;
        box-shadow: -17px 0 0 -16px #0f3361,
        17px 0 0 -16px #0f3361,
        0 17px 0 -16px #0f3361,
        0 -17px 0 -16px #0f3361,
        9px 0 0 -8px #0d4483,
        -9px 0 0 -8px #0d4483,
        0 9px 0 -8px #0d4483,
        0 -9px 0 -8px #0d4483,;
        pointer-events: none;
      }
    }

    > .section1 {
      grid-area: box1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    > .section2 {
      grid-area: box2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    > .section3 {
      grid-area: box3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > .section3Wrapper {
        > .chartWrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          height: 100%;

          > .age {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 100%;

            > .legend {
              @extend %legend;

              .male {
                background: #33a4fa;
              }

              .female {
                background: #8d70f8;
              }
            }

            > .chart {
              position: relative;
              display: flex;
              width: 100%;
              height: 100%;

              > .main {
                flex: 1;
                width: 100%;
              }

              > .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #33a4fa;
                font-size: px(40);
                text-shadow: 0 0 px(20) #33a4fa;
                font-weight: bold;
              }
            }

            > h3 {
              font-size: px(20);
              color: #7ab6db;
              margin-top: px(6);
            }
          }
        }

      }


    }

    > .section4 {
      grid-area: box4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    > .section5 {
      grid-area: box5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    > .section6 {
      grid-area: box6;
    }

    > .section7 {
      grid-area: box7;
    }

    .chart11, .chart12 {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;

      > .chart {
        display: flex;
        flex-direction: column;
        width: 100%;

        > .main {
          flex: 1;
          width: 100%;
        }
      }

      > .legend {
        @extend %legend;
      }
    }

  }
}