@import "./style/helper";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before, &::after {
    box-sizing: border-box;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
}

body {
  background: #00020b;
}

#root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}